.wow {
    height:20vh;
    width: 40vh;
    border-radius: 3%;
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 70% 30%;
    grid-gap: 1em;
    grid-row-gap: auto;
    grid-auto-rows: 400px;
    grid-auto-columns: 250px;
}
.infoBox{
    text-size-adjust: inherit;
}
.titlebox{
    padding:10px;
    display:grid;
    grid-template-columns: 40% 60%;
    grid-gap:0em;
}

.editicon{
    align-items: top;
    display: none;
}
.expand{
    grid-row:2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-overflow:initial;
}
