.addbookpaper{
    position: absolute;
    height: 60vh;
    width: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: aliceblue;
    border-radius: 3%;
    border: 2px solid rgba(255, 255, 255, 0.705);
    box-shadow: 24;
    display: grid;
    grid-template-columns: 30% 70%;
};
.bookinput{
    grid-template-columns: 100%;
    background-color: red;
    
}
.addbookbutton{
    background-color: black;
    margin: 2em;
}
.cancelchangesbutton{
    background-color: black;
    margin: 2em;
}
InputBase{
    background-color: red;
}
.descriptionBox{
    border-color: black;
    size: 2em;
}
.bookimage{
    border-radius: 5%;
}